<!--education section-->
<section id="education" class="column-center spacing-padding">
  <h2>
    EDUCATION
  </h2>
  <div class="timeline spacing-margin">
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Oregon State University<br/>(August 2020 - December 2022)<br/>
        </h3>
        <p>
          Currently enrolled in Oregon State University pursuing a Bachelor of Scicence in Computer Science. <strong>Expected graduation by December 2022!</strong>
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Portland State University <br/>(September 2013 - August 2019)
        </h3>
        <p>
          Graduated from PSU with a Bachelor of Science degree in Mathematics with a focus in Statistics.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Data Science Certificate <br/>(October 2019)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/the-data-science-course-complete-data-science-bootcamp/">The Data Science Course 2020: Complete Data Science Bootcamp</a> hosted by 365 Careers on Udemy.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          MySQL Certificate <br/>(October 2019)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/sql-mysql-for-data-analytics-and-business-intelligence/">MySQL for Data Analytics and Business Intelligence</a> course hosted by 365 careers on Udemy.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Web Development Certificate <br/>(January 2020)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">The Complete 2020 Web Development Bootcamp</a> course hosted Angela Yu on Udemy.
        </p>
      </div>
    </div>
  </div>
</section>
