<!--Experience section-->
<section id="experience" class="column-center box-shading spacing-padding">
  <h2>
    EXPERIENCE
  </h2>

    <div class="spacing-margin column-center">

      <div class="experience-content box-shading edu-box-styling">
      <div class="experience-information">

          <h3>
            <strong>Viewpoint</strong> - Software Development Engineer Intern<br/>
          </h3>
          <h4>
            (June 2022 - September 2022)
          </h4>
          </div>
          <div class="experience-body">
            <div class="smaller-chip-container">
              <div class="smaller-chips">C#</div>
              <div class="smaller-chips">Angular</div>
              <div class="smaller-chips">Docker</div>
              <div class="smaller-chips">Miro</div>
              <div class="smaller-chips">Git</div>
              <div class="smaller-chips">Agile</div>
              <div class="smaller-chips">TypeScript</div>
              <div class="smaller-chips">.NET</div>
              <div class="smaller-chips">ASP.NET</div>
              <div class="smaller-chips">RESTful API</div>
            </div>

            <hr />
            <ul>
              <li>Worked with the QA and UI/UX teams to <strong>release a feature</strong> that shows the history of customer audits to help IT better support customers</li>
              <li><strong>Reverse engineered the existing code base</strong> to set up gateways for API endpoints and displayed this data on the front end</li>
              <li><strong>Worked seamlessly</strong> with the existing software development engineering team by completing features and projects while being mentored by senior developers</li>
            </ul>
          </div>
        </div>

    </div>

</section>
