    <section id="footer" class="box-shading center">
      <!--footer section-->
      Copyright&nbsp;<div class="year"></div>&nbsp;Alyssa Comstock

    </section>
    <a href="#" class="top-arrow" Title="Back To Top"><i class="fas fa-arrow-up"></i></a>
    <!--bootstrap scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!--my scripts-->
    <script src="/scripts/myscript.js"></script>
  </body>
</html>
