<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Alyssa Comstock</title>
    <!--font awesome-->
    <script src="https://use.fontawesome.com/c8b10efa83.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--my own stylesheet-->
    <link href="/css/style.css" rel="stylesheet">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,800|Sree+Krushnadevaraya&display=swap" rel="stylesheet">
    <!--font awesome-->
    <script src="https://kit.fontawesome.com/2f9553e183.js" crossorigin="anonymous"></script>
  </head>
  <body>
