<!--section 1 that contains my name and information-->
<section id="header" class="parallax-bg box-shading center">
  <h1 class="txt-shadow">Alyssa Comstock</h1>
  <p class="txt-shadow">Portland, Oregon based aspiring full stack web developer, and software developer</p>
  <a href="/resume" class="btn btn-outline-light txt-shadow header-btn">Resume</a>
</section>
