<!--Projects section-->
<section id="projects" class="main-section spacing-padding box-shading column-center">
  <h2>
    PROJECTS
  </h2>


  <div class="spacing-margin column-center">

    <!--single project-->
    <div class="projects-content box-shading edu-box-styling">
      <div class="projects-information">

          <h3>
            <strong>Unnamed Project (Front-End)</strong><br/>
          </h3>
          <h4>
              September 2022 - Present
          </h4>
          <h4>
            Personal Project
          </h4>
      </div>
      <div class="projects-body">
          <div class="smaller-chip-container">
            <div class="smaller-chips">Front-End</div>
            <div class="smaller-chips">Node.js</div>
            <div class="smaller-chips">React</div>
            <div class="smaller-chips">Cookies</div>
            <div class="smaller-chips">Sessions</div>
            <div class="smaller-chips">JWT</div>
            <div class="smaller-chips">RESTful API</div>
          </div>
          <p>Login, and new user creation Front-End for this new currently unnamed personal project.  The front-end specifically is for React practice.  This project is huge in helping me learn how to handle user account creation, securely store their hashed passwords, handle sessions after user login, and many more topics. </p>

          <a href="https://github.com/TealGlow/login-frontend" class="btn btn-dark">See it on GitHub!</a>
        </div>
    </div>
    <!--end of single project-->

    <!--single project-->
    <div class="projects-content box-shading edu-box-styling">
      <div class="projects-information">

          <h3>
            <strong>Unnamed Project (Back-End)</strong><br/>
          </h3>
          <h4>
              September 2022 - Present
          </h4>
          <h4>
            Personal Project
          </h4>
      </div>
      <div class="projects-body">
          <div class="smaller-chip-container">
            <div class="smaller-chips">Back-End</div>
            <div class="smaller-chips">Node.js</div>
            <div class="smaller-chips">MongoDB</div>
            <div class="smaller-chips">Mongoose</div>
            <div class="smaller-chips">Cookies</div>
            <div class="smaller-chips">Sessions</div>
            <div class="smaller-chips">Password Hashing</div>
            <div class="smaller-chips">JWT</div>
            <div class="smaller-chips">RESTful API</div>
          </div>
          <p>Authentication and Login back-end for a currently unnamed new project. This project is huge in helping me learn how to handle user account creation, securely store their hashed passwords, handle sessions after user login, and many more topics. </p>

          <a href="https://github.com/TealGlow/petsite-auth-session-api" class="btn btn-dark">See it on GitHub!</a>
        </div>
    </div>
    <!--end of single project-->

    <!--single project-->
    <div class="projects-content box-shading edu-box-styling">
      <div class="projects-information">

          <h3>
            <strong>Silly Bot</strong><br/>
          </h3>
          <h4>
              January 2022 - Present
          </h4>
          <h4>
            Personal Project
          </h4>
      </div>
      <div class="projects-body">
          <div class="smaller-chip-container">
            <div class="smaller-chips">Node.js</div>
            <div class="smaller-chips">Discord.js</div>
            <div class="smaller-chips">Discord</div>
            <div class="smaller-chips">MongoDB</div>
            <div class="smaller-chips">RESTful API</div>
          </div>
          <p>Discord bot that can handle simple commands.</p>

          <a href="https://github.com/TealGlow/sillybot" class="btn btn-dark">See it on GitHub!</a>
        </div>
    </div>
    <!--end of single project-->

    <!--single project-->
    <div class="projects-content box-shading edu-box-styling">
      <div class="projects-information">

          <h3>
            <strong>Small Shell</strong><br/>
          </h3>
          <h4>
              April 2022 - May 2022
          </h4>
          <h4>
            School Project
          </h4>
      </div>
      <div class="projects-body">
          <div class="smaller-chip-container">
            <div class="smaller-chips">C</div>
            <div class="smaller-chips">Operating Systems</div>
            <div class="smaller-chips">Bash Scripting</div>
            <div class="smaller-chips">Linux</div>
          </div>
          <p>Operating Systems. We created our own version of the bash shell that could handle the commands given by the professor, as well as running executable within a Linux system.</p>

          <a href="https://github.com/TealGlow/SmallSh-Small-Shell" class="btn btn-dark">See it on GitHub!</a>
        </div>
    </div>
    <!--end of single project-->

    <!--single project-->
    <div class="projects-content box-shading edu-box-styling">
      <div class="projects-information">

          <h3>
            <strong>Resume Website</strong> - this website :) <br/>
          </h3>
          <h4>
              January 2020 - Present
          </h4>
          <h4>
            Personal Project
          </h4>
      </div>
      <div class="projects-body">
          <div class="smaller-chip-container">
            <div class="smaller-chips">Front-End</div>
            <div class="smaller-chips">Node.js</div>
            <div class="smaller-chips">Express.js</div>
            <div class="smaller-chips">Bootstrap</div>
            <div class="smaller-chips">JQuery</div>
            <div class="smaller-chips">EJS</div>
            <div class="smaller-chips">AWS</div>
          </div>
          <p>My personal resume website to show that I can do Full-Stack Development. Updated when I have new things to add. Self hosted on AWS.</p>

          <a href="https://github.com/TealGlow/Resume-Site" class="btn btn-dark">See it on GitHub!</a>
        </div>
    </div>
    <!--end of single project-->

    <!--single project-->
    <div class="projects-content box-shading edu-box-styling">
      <div class="projects-information">

          <h3>
            <strong>Library Database Front-End and Back-End</strong><br/>
          </h3>
          <h4>
              September 2021 - November 2021
          </h4>
          <h4>
            School Project
          </h4>
      </div>
      <div class="projects-body">
          <div class="smaller-chip-container">
            <div class="smaller-chips">Full-Stack</div>
            <div class="smaller-chips">Node.js</div>
            <div class="smaller-chips">Express.js</div>
            <div class="smaller-chips">MySQL</div>
            <div class="smaller-chips">Relational Databases</div>
            <div class="smaller-chips">Schemas</div>
            <div class="smaller-chips">Entity-Relationship Diagrams</div>
          </div>
          <p>Portfolio Project Introduction to Databases. As a group we had to create a relational database in MySQL for a library database that would hold the data for books, and user accounts. A large part of this project was designing how the relational database was going to exist, and how the front end was going to interact with it. In the Read me on Github you can see the entity-relationship diagram, and the schema we created for the database.</p>

          <a href="https://github.com/TealGlow/CS340-Library-Database-Front-End" class="btn btn-dark">See it on GitHub!</a>
        </div>
    </div>


    <!--single project-->
    <div class="projects-content box-shading edu-box-styling">
      <div class="projects-information">

          <h3>
            <strong>Weather Application</strong><br/>
          </h3>
          <h4>
              September 2021 - November 2021
          </h4>
          <h4>
            School Project
          </h4>
      </div>
      <div class="projects-body">
          <div class="smaller-chip-container">
            <div class="smaller-chips">Front-End</div>
            <div class="smaller-chips">Node.js</div>
            <div class="smaller-chips">Express.js</div>
            <div class="smaller-chips">Axios</div>
            <div class="smaller-chips">EJS</div>
            <div class="smaller-chips">RESTful API</div>
            <div class="smaller-chips">Microservice</div>
          </div>
          <p>Portfolio Project for Software Engineering I. This is part 2 of my full project. This application will let the user enter their zip code, and then use my teammates zip code validator API for validation, and then it will get the weather information, Wikipedia page for that location, and then display it to the user in a simple interface.</p>

          <a href="https://github.com/TealGlow/CS361-Weather-App" class="btn btn-dark">See it on GitHub!</a>
        </div>
    </div>
    <!--end of single project-->

    <!--single project-->
    <div class="projects-content box-shading edu-box-styling">
      <div class="projects-information">

          <h3>
            <strong>Wikipedia Webscraper</strong><br/>
          </h3>
          <h4>
              September 2021 - November 2021
          </h4>
          <h4>
            School Project
          </h4>
      </div>
      <div class="projects-body">
          <div class="smaller-chip-container">
            <div class="smaller-chips">Back-End</div>
            <div class="smaller-chips">Node.js</div>
            <div class="smaller-chips">Express.js</div>
            <div class="smaller-chips">Axios</div>
            <div class="smaller-chips">RESTful API</div>
            <div class="smaller-chips">Microservice</div>
          </div>
          <p>Portfolio project for Software Engineering I. This is the API microservice half of my full software engineering I portfolio piece that includes this and the weather application front-end. This API takes a zip code, and returns the scrapped Wikipedia page for that location, and weather data for that location. This API was used in my project and by one other member of my team.</p>

          <a href="https://github.com/TealGlow/CS361-Wikipedia-Web-Scraper-Service" class="btn btn-dark">See it on GitHub!</a>
        </div>
    </div>
    <!--end of single project-->

    <!--single project-->
    <div class="projects-content box-shading edu-box-styling">
      <div class="projects-information">

          <h3>
            <strong>Reliable Data Transfer</strong><br/>
          </h3>
          <h4>
              July 2021
          </h4>
          <h4>
            School Project
          </h4>
      </div>
      <div class="projects-body">
          <div class="smaller-chip-container">
            <div class="smaller-chips">Python</div>
            <div class="smaller-chips">Networking</div>
          </div>
          <p>Portfolio project for Introduction to Computer Networks. We had to create a Reliable Data Transfer (RDT) layer, and ensure that packets of data were reliably sent from client to server. This was done with a window of 4 packets sent, acknowledgements were sent, and if the data was successfully received, more packets were sent. Otherwise, the window of packets were sent again.</p>

          <a href="https://github.com/TealGlow/CS372-Intro-to-Networking-Portfolio-project-RDT-Project-2" class="btn btn-dark">See it on GitHub!</a>
        </div>
    </div>
    <!--end of single project-->

  </div>


</section>
