<section id="skills" class="column-center box-shading spacing-padding">
  <h2>
    SKILLS
  </h2>
  <div class="skills spacing-margin column-center">
    <!--<div class="skill-holder column-center box-shading edu-box-styling spacing-margin">-->
    <h3 class="txt-shadow">
      Languages, Libraries, and Frameworks
    </h3>
    <div class="chip-container">
      <div class="chip box-shading">C</div>
      <div class="chip box-shading">C++</div>
      <div class="chip box-shading">C#</div>
      <div class="chip box-shading">Node.js</div>
      <div class="chip box-shading">Express.js</div>
      <div class="chip box-shading">Python</div>
      <div class="chip box-shading">HTML</div>
      <div class="chip box-shading">CSS</div>
      <div class="chip box-shading">JavaScript</div>
      <div class="chip box-shading">RESTful API</div>
      <div class="chip box-shading">EJS</div>
      <div class="chip box-shading">React</div>
      <div class="chip box-shading">Mongoose</div>
      <div class="chip box-shading">jQuery</div>
      <div class="chip box-shading">SQL</div>
      <div class="chip box-shading">.NET</div>
      <div class="chip box-shading">ASP.NET</div>
      <div class="chip box-shading">Angular</div>
      <div class="chip box-shading">Axios</div>
      <div class="chip box-shading">TypeScript</div>
    </div>
    <h3 class="txt-shadow">
      Databases and Admin
    </h3>
    <div class="chip-container">
      <div class="chip box-shading">MySQL</div>
      <div class="chip box-shading">Relational Databases</div>
      <div class="chip box-shading">MongoDB</div>
      <div class="chip box-shading">Bash Scripting</div>
      <div class="chip box-shading">NoSQL</div>
      <div class="chip box-shading">Heroku</div>
      <div class="chip box-shading">AWS</div>
    </div>

    <h3 class="txt-shadow">
      Tools and Platforms
    </h3>
    <div class="chip-container">
      <div class="chip box-shading">Vim</div>
      <div class="chip box-shading">Windows Visual Studio</div>
      <div class="chip box-shading">GitHub</div>
      <div class="chip box-shading">Git</div>
      <div class="chip box-shading">NPM</div>
      <div class="chip box-shading">Nodemon</div>
      <div class="chip box-shading">PyCharm</div>
      <div class="chip box-shading">Hyper Terminal</div>
      <div class="chip box-shading">Linux</div>
      <div class="chip box-shading">Ubuntu</div>
      <div class="chip box-shading">Linux Console</div>
      <div class="chip box-shading">Figma</div>
      <div class="chip box-shading">Miro</div>
      <div class="chip box-shading">Docker</div>
      <div class="chip box-shading">MySQL Server</div>
      <div class="chip box-shading">MySQL Workbench</div>
    </div>
  </div>
</section>
