<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!--section 1 that contains my name and information-->
<section id="header" class="parallax-bg box-shading">
  <h1 class="txt-shadow">Alyssa Comstock</h1>
  <p class="txt-shadow">Portland, Oregon based aspiring full stack web developer</p>
</section>

<!--education section-->
<section id="education" class="column-center spacing-padding">
  <h2>
    EDUCATION
  </h2>
  <div class="timeline spacing-margin">
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Portland State University (August 2019)
        </h3>
        <p>
          Graduated from PSU with a Bachelor of Science degree in Mathematics with a focus in Statistics.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Data Science Certificate (October 2019)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/the-data-science-course-complete-data-science-bootcamp/">The Data Science Course 2020: Complete Data Science Bootcamp</a> hosted by 365 Careers on Udemy.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          MySQL Certificate (October 2019)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/sql-mysql-for-data-analytics-and-business-intelligence/">MySQL for Data Analytics and Business Intelligence</a> course hosted by 365 careers on Udemy.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Web Development Certificate (January 2020)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">The Complete 2020 Web Development Bootcamp</a> course hosted Angela Yu on Udemy.
        </p>
      </div>
    </div>
  </div>
</section>


<section id="skills" class="column-center box-shading spacing-padding">
  <h2>
    SKILLS
  </h2>
  <div class="skills spacing-margin column-center">
    <div class="skill-holder column-center box-shading edu-box-styling spacing-margin">
      <div class="single-skill">
        <h3>
          <i class="fab fa-html5"></i> HTML &mdash; <i class="fab fa-css3-alt"></i> CSS &mdash; <i class="fab fa-js-square"></i> Javascript
        </h3>
        <p>
          HTML 5,
          CSS 3,
          Bootstrap,
          Node.JS,
          Express,
          JQuery,
          MongoDB,
          Mongoose,
          EJS,
          React
        </p>
      </div>
    </div>
    <div class="skill-holder column-center box-shading edu-box-styling spacing-margin">
      <div class="single-skill">
        <h3>
          <i class="fas fa-thumbs-up"></i> Other
        </h3>
        <p>
          NPM, Git, Github, AWS, Atom, Brackets, Ubuntu Linux, Linux Console, Hyper Terminal, Python 3, SQL, MySQL, C++, R, R-studio, Jupyter Notebook, NoSQL, Heroku
        </p>

      </div>
    </div>
  </div>



</section>


<!--Projects section-->
<section id="projects" class="spacing-padding box-shading column-center">
  <h2>
    PROJECTS
  </h2>
  <div class="skill-holder box-shading edu-box-styling spacing-margin">
    <h3>
      Big Projects
    </h3>
    <div class="project-holder spacing-margin card-deck row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card spacing-margin">
          <img src="/img/resumepreview.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">
              Personal Website
            </h5>
            <div class="card-text">
              <!--text-->
              Responsive single page website built on Express.js, EJS, and Bootstrap.
            </div>
          </div>
        </div>
        <!--end of card div-->
      </div>
      <!--end of col div-->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card spacing-margin">
          <img src="/img/blogpreview.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">
              Blog App
            </h5>
            <div class="card-text">
              <!--text-->
              Responsive test blog website built on Express.js, EJS, Bootstrap, MongoDB, and Mongoose. Each post is saved into a MongoDB, and retrieved when the page is loaded. <a href="/blog">See it in action here!</a>
            </div>
          </div>
        </div>
        <!--end of card div-->
      </div>
      <!--end of col div-->
    </div>
  </div>

  <div class="skill-holder box-shading edu-box-styling spacing-margin">
    <h3>
      Small Projects
    </h3>
    <div class="project-holder spacing-margin card-deck row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card spacing-margin">
          <iframe class="card-img-top" scrolling="no" title="[CPC] cpc-nth-child" src="https://codepen.io/iselia/embed/preview/JjooOKW?height=265&theme-id=dark&default-tab=result" frameborder="no" allowtransparency="true" allowfullscreen="true">
            See the Pen <a href='https://codepen.io/iselia/pen/JjooOKW'>[CPC] cpc-nth-child</a> by Alyssa
            (<a href='https://codepen.io/iselia'>@iselia</a>) on <a href='https://codepen.io'>CodePen</a>.
          </iframe>
          <div class="card-body">
            <h5 class="card-title">
              Codepen Community Challenge Nth-Child
            </h5>
            <div class="card-text">
              <!--text-->
              Given a starter HTML file, I was tasked with editing the output using only nth-child selectors in the CSS.
            </div>
          </div>
        </div>
        <!--end of card div-->
      </div>
      <!--end of col div-->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card spacing-margin">
          <iframe class="card-img-top" scrolling="no" title="[CPC] Multi-buttons" src="https://codepen.io/iselia/embed/preview/vYEdeLe?height=265&theme-id=dark&default-tab=result" frameborder="no" allowtransparency="true" allowfullscreen="true">
            See the Pen <a href='https://codepen.io/iselia/pen/vYEdeLe'>[CPC] Multi-buttons</a> by Alyssa
            (<a href='https://codepen.io/iselia'>@iselia</a>) on <a href='https://codepen.io'>CodePen</a>.
          </iframe>
          <div class="card-body">
            <h5 class="card-title">
              Codepen Community Challenge Multi-Buttons
            </h5>
            <div class="card-text">
              <!--text-->
              Given a starting file of just HTML, we were tasked with styling the buttons with CSS so that they looked cohesive.
            </div>
          </div>
        </div>
        <!--end of card div-->
      </div>
      <!--end of col div-->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card spacing-margin">
          <img src="/img/adjnounpreview.png">
          <div class="card-body">
            <h5 class="card-title">
              Adjective Noun Generator
            </h5>
            <div class="card-text">
              <!--text-->
              Using the library, <a href="https://github.com/kylestetz/Sentencer">The Sentencer</a>, I created a website that creates 10 random adjectives and nouns.  It will also generate more when the user clicks the button.  This site was created with Bootstrap, Node.js, Express.js, and EJS.  It can be viewed <a href="/adjnoun">here.</a>
            </div>
          </div>
        </div>
        <!--end of card div-->
      </div>
      <!--end of col div-->
    </div>
  </div>
</section>





<!--about section-->
<section id="about" class="column-center box-shading spacing-padding">
  <h2>
    ABOUT
  </h2>
  <div class="about-content spacing-margin center">
    <img src="/img/Alyssa.jpg" class="box-shading spacing-margin" />
    <p class="box-shading center spacing-margin edu-box-styling">
      Hello, my name is Alyssa Comstock. I graduated from Portland State University in August 2019 with a Bachelor of Science in Mathematics. While my main focus was Statistics, I've also always had a passion for coding. I've been coding with HTML
      since I started using the internet as a younger kid, taught myself CSS throughout the years, and finally took a web development online class in order to cement my skills in the front; as well as learn more about backend development.
      <br /><br />I have always had a passion for learning things, and web development always allowed me to scratch that itch.
    </p>
  </div>


</section>

<!--contact section-->

<section id="contact" class="parallax-bg box-shading column-center">
  <h1>Get in touch to work with me</h1>
  <div class="contact-buttons txt-shadow">
    <a type="button" class="btn btn-outline-light txt-shadow " href="mailto:alyssacomstock95@gmail.com"><i class="fas fa-envelope"></i> Mail</a>
    <a type="button" class="btn btn-outline-light txt-shadow " href="https://github.com/TealGlow"><i class="fab fa-github"></i> Github</a>
    <a type="button" class="btn btn-outline-light txt-shadow " href="https://codepen.io/iselia"><i class="fab fa-codepen"></i> Codepen</a>
  </div>
</section>


<!--footer partial-->
<%- include('partials/footer') %>
