<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!--section 1 that contains my name and information-->
<section id="header" class="parallax-bg box-shading">
  <h1 class="txt-shadow">Alyssa Comstock</h1>
  <p class="txt-shadow">Portland, Oregon based aspiring full stack web developer</p>
</section>

<!--education section-->
<section id="education" class="column-center spacing-padding">
  <h2>
    EDUCATION
  </h2>
  <div class="timeline spacing-margin">
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Portland State University (August 2019)
        </h3>
        <p>
          Graduated from PSU with a Bachelor of Science degree in Mathematics with a focus in Statistics.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Data Science Certificate (October 2019)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/the-data-science-course-complete-data-science-bootcamp/">The Data Science Course 2020: Complete Data Science Bootcamp</a> hosted by 365 Careers on Udemy.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          MySQL Certificate (October 2019)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/sql-mysql-for-data-analytics-and-business-intelligence/">MySQL for Data Analytics and Business Intelligence</a> course hosted by 365 careers on Udemy.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Web Development Certificate (January 2020)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">The Complete 2020 Web Development Bootcamp</a> course hosted Angela Yu on Udemy.
        </p>
      </div>
    </div>
  </div>
</section>


<section id="skills" class="column-center box-shading spacing-padding">
  <h2>
    SKILLS
  </h2>
  <div class="skills spacing-margin column-center">
    <div class="skill-holder column-center box-shading edu-box-styling spacing-margin">
      <div class="single-skill">
        <h3>
          <i class="fab fa-html5"></i> HTML &mdash; <i class="fab fa-css3-alt"></i> CSS &mdash; <i class="fab fa-js-square"></i> Javascript
        </h3>
        <p>
          HTML 5,
          CSS 3,
          Bootstrap,
          Node.JS,
          Express,
          JQuery,
          MongoDB,
          Mongoose,
          EJS,
          React.JS
        </p>
      </div>
    </div>
    <div class="skill-holder column-center box-shading edu-box-styling spacing-margin">
      <div class="single-skill">
        <h3>
          <i class="fas fa-thumbs-up"></i> Other
        </h3>
        <p>
          NPM, Git, Github, AWS, Atom, Brackets, Ubuntu Linux, Linux Console, Hyper Terminal, Python 3, SQL, MySQL, C++, R, R-studio, Jupyter Notebook
        </p>

      </div>
    </div>
  </div>



</section>

<!--about section-->
<section id="about" class="column-center spacing-padding">
  <h2>
    ABOUT
  </h2>
  <div class="about-content spacing-margin center">
    <img src="/img/Alyssa.jpg" class="box-shading spacing-margin" />
    <p class="box-shading center spacing-margin edu-box-styling">
      Hello, my name is Alyssa Comstock.  I graduated from Portland State University in August 2019 with a Bachelor of Science in Mathematics.  While my main focus was Statistics, I've also always had a passion for coding.  I've been coding with HTML since I started using the internet as a younger kid, taught myself CSS throughout the years, and finally took a web development online class in order to cement my skills in the front; as well as learn more about backend development.  <br/><br/>I have always had a passion for learning things, and web development always allowed me to scratch that itch.
    </p>
  </div>


</section>

<!--contact section-->

<section id="contact" class="parallax-bg box-shading column-center">
  <h1>Where to find me</h1>
  <div class="contact-buttons txt-shadow">
    <a type="button" class="btn btn-outline-light txt-shadow " href="mailto:alyssacomstock95@gmail.com"><i class="fas fa-envelope"></i>  Mail</a>
    <a type="button" class="btn btn-outline-light txt-shadow " href="https://github.com/TealGlow"><i class="fab fa-github"></i>  Github</a>
    <a type="button" class="btn btn-outline-light txt-shadow " href="https://codepen.io/iselia"><i class="fab fa-codepen"></i>  Codepen</a>
  </div>
</section>


<!--footer partial-->
<%- include('partials/footer') %>
