<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!--section 1 that contains my name and information-->
<section id="header" class="parallax-bg box-shading center">
  <h1 class="txt-shadow">Alyssa Comstock</h1>
  <p class="txt-shadow">Portland, Oregon based aspiring full stack web developer, and software developer</p>
  <a href="/resume" class="btn btn-outline-light txt-shadow header-btn">Resume</a>
</section>

<!--education section-->
<section id="education" class="column-center spacing-padding">
  <h2>
    EDUCATION
  </h2>
  <div class="timeline spacing-margin">
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Oregon State University<br/>(August 2020 - December 2022)<br/>
        </h3>
        <p>
          Currently enrolled in Oregon State University pursuing a Bachelor of Scicence in Computer Science. <strong>Expected graduation by December 2022!</strong>
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Portland State University <br/>(September 2013 - August 2019)
        </h3>
        <p>
          Graduated from PSU with a Bachelor of Science degree in Mathematics with a focus in Statistics.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Data Science Certificate <br/>(October 2019)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/the-data-science-course-complete-data-science-bootcamp/">The Data Science Course 2020: Complete Data Science Bootcamp</a> hosted by 365 Careers on Udemy.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          MySQL Certificate <br/>(October 2019)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/sql-mysql-for-data-analytics-and-business-intelligence/">MySQL for Data Analytics and Business Intelligence</a> course hosted by 365 careers on Udemy.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Web Development Certificate <br/>(January 2020)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">The Complete 2020 Web Development Bootcamp</a> course hosted Angela Yu on Udemy.
        </p>
      </div>
    </div>
  </div>
</section>


<section id="skills" class="column-center box-shading spacing-padding">
  <h2>
    SKILLS
  </h2>
  <div class="skills spacing-margin column-center">
    <!--<div class="skill-holder column-center box-shading edu-box-styling spacing-margin">-->
    <h3 class="txt-shadow">
      Languages, Libraries, and Frameworks
    </h3>
    <div class="chip-container">
      <div class="chip box-shading">C</div>
      <div class="chip box-shading">C++</div>
      <div class="chip box-shading">C#</div>
      <div class="chip box-shading">Node.js</div>
      <div class="chip box-shading">Express.js</div>
      <div class="chip box-shading">Python</div>
      <div class="chip box-shading">HTML</div>
      <div class="chip box-shading">CSS</div>
      <div class="chip box-shading">JavaScript</div>
      <div class="chip box-shading">RESTful API</div>
      <div class="chip box-shading">EJS</div>
      <div class="chip box-shading">React</div>
      <div class="chip box-shading">Mongoose</div>
      <div class="chip box-shading">jQuery</div>
      <div class="chip box-shading">SQL</div>
      <div class="chip box-shading">.NET</div>
      <div class="chip box-shading">ASP.NET</div>
      <div class="chip box-shading">Angular</div>
      <div class="chip box-shading">Axios</div>
      <div class="chip box-shading">TypeScript</div>
    </div>
    <h3 class="txt-shadow">
      Databases and Admin
    </h3>
    <div class="chip-container">
      <div class="chip box-shading">MySQL</div>
      <div class="chip box-shading">Relational Databases</div>
      <div class="chip box-shading">MongoDB</div>
      <div class="chip box-shading">Bash Scripting</div>
      <div class="chip box-shading">NoSQL</div>
      <div class="chip box-shading">Heroku</div>
      <div class="chip box-shading">AWS</div>
    </div>

    <h3 class="txt-shadow">
      Tools and Platforms
    </h3>
    <div class="chip-container">
      <div class="chip box-shading">Vim</div>
      <div class="chip box-shading">Windows Visual Studio</div>
      <div class="chip box-shading">GitHub</div>
      <div class="chip box-shading">Git</div>
      <div class="chip box-shading">NPM</div>
      <div class="chip box-shading">Nodemon</div>
      <div class="chip box-shading">PyCharm</div>
      <div class="chip box-shading">Hyper Terminal</div>
      <div class="chip box-shading">Linux</div>
      <div class="chip box-shading">Ubuntu</div>
      <div class="chip box-shading">Linux Console</div>
      <div class="chip box-shading">Figma</div>
      <div class="chip box-shading">Miro</div>
      <div class="chip box-shading">Docker</div>
      <div class="chip box-shading">MySQL Server</div>
      <div class="chip box-shading">MySQL Workbench</div>
    </div>

  </div>



</section>

<!--Experience section-->
<section id="experience" class="column-center box-shading spacing-padding">
  <h2>
    EXPERIENCE
  </h2>

    <div class="spacing-margin column-center">
      <div class="experience-information">
        <div class="experience-content box-shading edu-box-styling">
          <h3>
            <strong>Viewpoint</strong> - Software Development Engineer Intern<br/>
          </h3>
          <h4>
            (June 2022 - September 2022)
          </h4>

          <p>
            <div class="smaller-chip-container">
              <div class="smaller-chips">C#</div>
              <div class="smaller-chips">Angular</div>
              <div class="smaller-chips">Docker</div>
              <div class="smaller-chips">Miro</div>
              <div class="smaller-chips">Git</div>
              <div class="smaller-chips">Agile</div>
              <div class="smaller-chips">TypeScript</div>
              <div class="smaller-chips">.NET</div>
              <div class="smaller-chips">ASP.NET</div>
              <div class="smaller-chips">RESTful API</div>
            </div>

            <hr/>
            <ul>
              <li>Worked with the QA and UI/UX teams to <strong>release a feature</strong> that shows the history of customer audits to help IT better support customers</li>
              <li><strong>Reverse engineered the existing code base</strong> to set up gateways for API endpoints and displayed this data on the front end</li>
              <li><strong>Worked seamlessly</strong> with the existing software development engineering team by completing features and projects while being mentored by senior developers</li>
            </ul>
          </p>
        </div>
      </div>
  </div>

</section>


<!--Projects section-->
<section id="projects" class="spacing-padding box-shading column-center">
  <h2>
    PROJECTS
  </h2>


  <div class="skill-holder box-shading edu-box-styling spacing-margin">
    <div class="project-holder">
      <div class="card-group">
        <!-- end of card-->
        <div class="card">
          <img src="/img/resumepreview.png" class="card-img-top">

          <div class="card-body">
            <h5 class="card-title"><strong>Wikipedia Webscrapper Microservice</strong></h5>
            <div class="card-text">
              <h6><strong>Node.js, API, RESTful API, Express.js, json, Axios</strong><br/><h6>
              RESTFUL API built in Node.js, Express.js, and other packages. On GET request the user will back a json object containing the information from 2 API calls to a weather API, and the data from the Wikipeida article based on the zip code from the GET request parameter. The wikipedia data is cleaned, and split into strings based on the paragraph tags in the HTML returned to the web scraper.
            </div>
            <a href="https://github.com/TealGlow/CS361-Wikipedia-Web-Scraper-Service" class="btn btn-dark txt-shadow project-btn">See on GitHub!</a>

          </div>
        </div>
        <!-- end of card-->

        <!-- end of card-->
        <div class="card">
          <img src="/img/CS344.png" class="card-img-top">

          <div class="card-body">
            <h5 class="card-title"><strong>Personal Portfolio Website</strong></h5>
            <div class="card-text">
              <h6><strong>Node.js, EJS, Express.js, Full-Stack, Bootstrap</strong><br/><h6>
              Responsive single page website to show I can create a website from the ground up.
            </div>
            <a class="btn btn-dark txt-shadow project-btn">See on GitHub!</a>

          </div>
        </div>
        <!-- end of card-->

        <!-- end of card-->
        <div class="card">
          <img src="/img/CS344.png" class="card-img-top">

          <div class="card-body">
            <h5 class="card-title"><strong>SmallSH - Small Shell</strong></h5>
            <div class="card-text">
              <h6><strong>C, Operating Systems, Processes, Linux</strong><br/><h6>
              We were tasked with creating our own version of the bash shell that could handle the given commands, as well as running executable within a Linux system.
            </div>
            <a href="https://github.com/TealGlow/SmallSh-Small-Shell" class="btn btn-dark txt-shadow project-btn">See on GitHub!</a>

          </div>
        </div>
        <!-- end of card-->



      </div> <!-- end of card group-->


      <div class="card-group">
        <!-- start of card-->

        <!-- end of card-->
        <div class="card">
          <img src="/img/CS361-2.png" class="card-img-top">

          <div class="card-body">
            <h5 class="card-title"><strong>Weather Application</strong></h5>
            <div class="card-text">
              <h6><strong>Front-End, Node.js, Express.js, Axios, EJS</strong><br/><h6>
              This is part 2 of my full project. This app will let the user enter their zip code, and then use my teammates zip code validator API for validation, and then it will get the weather information, Wikipedia page for that location, and then display it to the user in a simple interface.

              <br/><br/>Combined with the wikipedia webscrapper, this is a full-stack project.
            </div>
            <a href="https://github.com/TealGlow/CS361-Weather-App" class="btn btn-dark txt-shadow project-btn">See on GitHub!</a>

          </div>
        </div>
        <!-- end of card-->
        <div class="card">
          <img src="/img/CS361.png" class="card-img-top">

          <div class="card-body">
            <h5 class="card-title"><strong>Wikipedia Webscrapper Microservice</strong></h5>
            <div class="card-text">
              <h6><strong>Back-End, Node.js, API, RESTful API, Express.js, json, Axios</strong><br/><h6>
              This is the API micro service half of my full software engineering I portfolio piece. This API takes a zip code, and returns the scrapped Wikipedia page for that location, and weather data for that location. This API was used in my project and by one other member of my team.
            </div>
            <a href="https://github.com/TealGlow/CS361-Wikipedia-Web-Scraper-Service" class="btn btn-dark txt-shadow project-btn">See on GitHub!</a>

          </div>
        </div>
        <!-- end of card-->
        <!-- end of card-->
        <div class="card">
          <img src="/img/resumepreview.png" class="card-img-top">

          <div class="card-body">
            <h5 class="card-title"><strong>Personal Portfolio Website</strong></h5>
            <div class="card-text">
              <h6><strong>Node.js, EJS, Express.js, Full-Stack, Bootstrap</strong><br/><h6>
              Responsive single page website to show I can create a website from the ground up.
            </div>
            <a href="https://github.com/TealGlow/Resume-Site" class="btn btn-dark txt-shadow project-btn">See on GitHub!</a>

          </div>
        </div>
        <!-- end of card-->



      </div> <!-- end of card group-->



      <div class="card-group">
        <!-- start of card-->

        <!-- start of card-->
        <div class="card">
          <img src="/img/cs372.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><strong>Reliable Data Transfer over a network</strong></h5>
            <div class="card-text">
              <h6><strong>Python, Networking</strong><br/><h6>
                Portfolio project for CS372 - Introduction to Computer Networking.  This program simulates the server and client reliable data transfer protocol.  The client will send data to the server, and it is the server's responsibility to acknowledge that the packages have been received.  If not, the client has to send the packages that were not recieved again until the server gets the entire length of data.
              </div>
            <a href="https://github.com/TealGlow/CS372-Intro-to-Networking-Portfolio-project-RDT-Project-2" class="btn btn-dark txt-shadow project-btn">See on GitHub!</a>
          </div>
        </div>
        <!-- end of card-->

        <div class="card">
          <img src="/img/CS290.png" class="card-img-top">

          <div class="card-body">
            <div class="card-title">
              <h5 class="card-text"><strong>Personal Website Portfolio Project For School</strong></h5>
              <h6><strong>HTML, CSS, Javascript</strong><br/><h6>
              Portfolio project for CS290 Introduction to Website Development.
            </div>
            <a href="https://github.com/TealGlow/CS-290-web-dev-project" class="btn btn-dark txt-shadow project-btn">See on GitHub!</a>
          </div>
        </div>
        <!-- end of card-->
        <!-- start of card-->
        <div class="card">
          <img src="/img/CS162.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><strong>Focus Game</strong></h5>
            <div class="card-text">
              <h6><strong>Python</strong><br/><h6>
              A simple game portfolio project from CS162 - Introduction to Computer Programming 2.  We were given rules of the game that is a 6x6 board, and we had to figure out how to determine if there is a win on the board after each player's move. Wins can be horizontally, diagonally, or vertically.  There are a lot more rules for the game, such as single moves, and multi-moves that can be seen on the Github page.
            </div>
            <a href="https://github.com/TealGlow/CS-162-Portfolio-Project-Focus-Game" class="btn btn-dark txt-shadow project-btn">See on GitHub!</a>
          </div>
        </div>
        <!-- end of card-->

      </div> <!-- end of card group-->

    </div>
  </div>








</section>






<!--about section-->
<!--
<section id="about" class="column-center box-shading spacing-padding">
  <h2>
    ABOUT
  </h2>
  <div class="about-content spacing-margin center">
    <img src="/img/Alyssa.jpg" class="box-shading spacing-margin" />
    <p class="box-shading center spacing-margin edu-box-styling">
      Hello, my name is Alyssa Comstock. I graduated from Portland State University in August 2019 with a Bachelor of Science in Mathematics. While my main focus was Statistics, I've also always had a passion for coding. I've been coding with HTML
      since I started using the internet as a younger kid, taught myself CSS throughout the years, and finally took a web development online class in order to cement my skills in the front; as well as learn more about backend development.
      <br /><br />I have always had a passion for learning things, and web development always allowed me to scratch that itch.
    </p>
  </div>


</section>-->

<!--contact section-->

<section id="contact" class="parallax-bg box-shading column-center">
  <h1>Get in touch to work with me</h1>
  <div class="contact-buttons txt-shadow">
    <a type="button" class="btn btn-outline-light txt-shadow header-btn" href="mailto:alyssacomstock95@gmail.com"><i class="fas fa-envelope"></i> Mail</a>
    <a type="button" class="btn btn-outline-light txt-shadow header-btn" href="https://github.com/TealGlow"><i class="fab fa-github"></i> Github</a>
    <a type="button" class="btn btn-outline-light txt-shadow header-btn" href="https://codepen.io/iselia"><i class="fab fa-codepen"></i> Codepen</a>
  </div>
</section>


<!--footer partial-->
<%- include('partials/footer') %>
