<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!--section 1 that contains my name and information-->
<section id="header" class="parallax-bg box-shading center">
  <h1 class="txt-shadow">Alyssa Comstock</h1>
  <p class="txt-shadow">Portland, Oregon based aspiring full stack web developer, and software developer</p>
  <a href="/resume" class="btn btn-outline-light txt-shadow header-btn">Resume</a>
</section>

<!--education section-->
<section id="education" class="column-center spacing-padding">
  <h2>
    EDUCATION
  </h2>
  <div class="timeline spacing-margin">
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Oregon State University (2020 - Present)
        </h3>
        <p>
          Currently enrolled in Oregon State University pursuing a Bachelor of Scicence in Computer Science. <strong>Expected graduation by June 2022!</strong>
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Portland State University (August 2019)
        </h3>
        <p>
          Graduated from PSU with a Bachelor of Science degree in Mathematics with a focus in Statistics.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Data Science Certificate (October 2019)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/the-data-science-course-complete-data-science-bootcamp/">The Data Science Course 2020: Complete Data Science Bootcamp</a> hosted by 365 Careers on Udemy.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          MySQL Certificate (October 2019)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/sql-mysql-for-data-analytics-and-business-intelligence/">MySQL for Data Analytics and Business Intelligence</a> course hosted by 365 careers on Udemy.
        </p>
      </div>
    </div>
    <div class="education-information">
      <div class="education-content box-shading edu-box-styling">
        <h3>
          Web Development Certificate (January 2020)
        </h3>
        <p>
          <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">The Complete 2020 Web Development Bootcamp</a> course hosted Angela Yu on Udemy.
        </p>
      </div>
    </div>
  </div>
</section>


<section id="skills" class="column-center box-shading spacing-padding">
  <h2>
    SKILLS
  </h2>
  <div class="skills spacing-margin column-center">
    <div class="skill-holder column-center box-shading edu-box-styling spacing-margin">
      <div class="single-skill">
        <h3>
          Programming, Scripting, Libraries, and Frameworks
        </h3>
        <p>
          <ul> <strong>Proficient:</strong>
            <li>Python 3</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Node.JS</li>
            <li>Express.JS</li>
            <li>EJS</li>
            <li>Mongoose</li>
            <li>Bootstrap</li>
            <li>JQuery</li>
            <li>REST APIs</li>
            <li>AGILE Software Development Methods</li>
          </ul>
          <ul><strong>Familiar:</strong>
            <li>C++</li>
            <li>Lua Scripting for the Roblox platform</li>
            <li>C</li>
            <li>x86 ASM (Assembly Language)</li>
            <li>React</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="skill-holder column-center box-shading edu-box-styling spacing-margin">
      <div class="single-skill">
        <h3>
          Databases, Database Tools, and Admin
        </h3>
        <p>
          <ul> <strong>Proficient:</strong>
            <li>MySQL</li>
            <li>Relational Databases</li>
            <li>Database Schemas and diagramming</li>
            <li>Ubuntu Linux</li>
            <li>Linux Console</li>
          </ul>
          <ul><strong>Familiar:</strong>
            <li>MongoDB</li>
            <li>Heroku</li>
            <li>NoSQL</li>
            <li>MySQL Server</li>
          </ul>
        </p>

      </div>
    </div>

    <div class="skill-holder column-center box-shading edu-box-styling spacing-margin">
      <div class="single-skill">
        <h3>
          Software and Tools
        </h3>
        <p>
          <ul> <strong>Proficient:</strong>
            <li>GitHub</li>
            <li>MySQL Workbench</li>
            <li>Git</li>
            <li>NPM</li>
            <li>Nodemon</li>
            <li>Atom</li>
            <li>PyCharm</li>
            <li>Hyper Terminal</li>
            <li>Brackets</li>
            <li>Slack</li>
            <li>Discord</li>
            <li>Google Docs Suite</li>
            <li>Microsoft Office Suite</li>
            <li>Photoshop</li>
            <li>Microsoft Teams</li>
            <li>Zoom</li>
          </ul>
          <ul><strong>Familiar:</strong>
            <li>Jupyter Notebook</li>
            <li>Roblox Studio</li>
          </ul>
        </p>

      </div>
    </div>

  </div>



</section>


<!--Projects section-->
<section id="projects" class="spacing-padding box-shading column-center">
  <h2>
    PROJECTS
  </h2>


  <div class="skill-holder box-shading edu-box-styling spacing-margin">
    <div class="project-holder">

      <div class="card-group">
        <!-- start of card-->
        <div class="card">
          <img src="/img/resumepreview.png" class="card-img-top">

          <div class="card-body">
            <div class="card-text">
              <h5 class="card-title">Personal Portfolio Website</h5>
              Responsive single page website built on Express.js, EJS, and Bootstrap.
            </div>
          </div>
        </div>
        <!-- end of card-->
        <!-- start of card-->
        <div class="card">
          <img src="/img/CS261.png" class="card-img-top">
          <div class="card-body">
            <div class="card-text">
              <h5 class="card-title">Graph Advanced Data Type</h5>
              Contains the methods to manipulate both undirected and directed graph data types.  Lets the user vertices, remove vertices, add edges, remove edges, perform a breadth first search, perform a depth first search, and perform the Dijkstra algorithm.  Done in Python.  This was the portfolio project for my CS261 Data Strctures class at Oregon State University. <a href="https://github.com/TealGlow/CS-261-Portfolio-Project-Graph-ADT">See it on GitHub!</a>
              </div>
          </div>
        </div>
        <!-- end of card-->
        <!-- start of card-->
        <div class="card">
          <img src="/img/cs372.png" class="card-img-top">
          <div class="card-body">
            <div class="card-text">
              <h5 class="card-title">Reliable Data Transfer over a network</h5>
                Portfolio project for CS372 - Introduction to Computer Networking.  This program simulates the server and client reliable data transfer protocol.  The client will send data to the server, and it is the server's responsibility to acknowledge that the packages have been received.  If not, the client has to send the packages that were not recieved again until the server gets the entire length of data.
               <a href="https://github.com/TealGlow/CS372-Intro-to-Networking-Portfolio-project-RDT-Project-2">See it on GitHub!</a>
              </div>
          </div>
        </div>
        <!-- end of card-->


      </div> <!-- end of card group-->

      <div class="card-group">
        <!-- start of card-->
        <div class="card">
          <img src="/img/CS290.png" class="card-img-top">

          <div class="card-body">
            <div class="card-text">
              <h5 class="card-title">Personal Website Portfolio Project For School</h5>
              Portfolio project for CS290 Introduction to Website Development. Can be viewed <a href="https://tealglow.github.io/CS-290-web-dev-project/index.html"> here. </a>  We were tasked with making a website using Boostrap, HTML, CSS, Javascript, and we had to make a POST request to the school POST checker. <a href="https://github.com/TealGlow/CS-290-web-dev-project">See it on GitHub!</a>
            </div>
          </div>
        </div>
        <!-- end of card-->
        <!-- start of card-->
        <div class="card">
          <img src="/img/CS162.png" class="card-img-top">
          <div class="card-body">
            <div class="card-text">
              <h5 class="card-title">Focus Game</h5>
              A simple game portfolio project from CS162 - Introduction to Computer Programming 2.  We were given rules of the game that is a 6x6 board, and we had to figure out how to determine if there is a win on the board after each player's move. Wins can be horizontally, diagonally, or vertically.  There are a lot more rules for the game, such as single moves, and multi-moves that can be seen on the Github page.
              <a href="https://github.com/TealGlow/CS-162-Portfolio-Project-Focus-Game">See it on GitHub!</a>
              </div>
          </div>
        </div>
        <!-- end of card-->
        <!-- start of card-->
        <div class="card">
          <img src="/img/adjnounpreview.png" class="card-img-top">
          <div class="card-body">
            <div class="card-text">
              <h5 class="card-title">Adjective Noun Generator</h5>
                Using the library, <a href="https://github.com/kylestetz/Sentencer">The Sentencer</a>, I created a website that creates 10 random adjectives and nouns.  It will also generate more when the user clicks the button.  This site was created with Bootstrap, Node.js, Express.js, and EJS.  It can be viewed <a href="/adjnoun">here.</a>
              </div>
          </div>
        </div>
        <!-- end of card-->


      </div> <!-- end of card group-->

    </div>
  </div>








</section>






<!--about section-->
<!--
<section id="about" class="column-center box-shading spacing-padding">
  <h2>
    ABOUT
  </h2>
  <div class="about-content spacing-margin center">
    <img src="/img/Alyssa.jpg" class="box-shading spacing-margin" />
    <p class="box-shading center spacing-margin edu-box-styling">
      Hello, my name is Alyssa Comstock. I graduated from Portland State University in August 2019 with a Bachelor of Science in Mathematics. While my main focus was Statistics, I've also always had a passion for coding. I've been coding with HTML
      since I started using the internet as a younger kid, taught myself CSS throughout the years, and finally took a web development online class in order to cement my skills in the front; as well as learn more about backend development.
      <br /><br />I have always had a passion for learning things, and web development always allowed me to scratch that itch.
    </p>
  </div>


</section>-->

<!--contact section-->

<section id="contact" class="parallax-bg box-shading column-center">
  <h1>Get in touch to work with me</h1>
  <div class="contact-buttons txt-shadow">
    <a type="button" class="btn btn-outline-light txt-shadow header-btn" href="mailto:alyssacomstock95@gmail.com"><i class="fas fa-envelope"></i> Mail</a>
    <a type="button" class="btn btn-outline-light txt-shadow header-btn" href="https://github.com/TealGlow"><i class="fab fa-github"></i> Github</a>
    <a type="button" class="btn btn-outline-light txt-shadow header-btn" href="https://codepen.io/iselia"><i class="fab fa-codepen"></i> Codepen</a>
  </div>
</section>


<!--footer partial-->
<%- include('partials/footer') %>
